

<div class="container">
	<div class="col-md-6>">
	 <h2>Edit Movie </h2>
	 <%= form_for(@movie) do |f| %>
		<%= render 'shared/movie_error_messages' %>
		<br>
		<ul>
		  <%= f.label :image %>
		  <%= f.file_field :image, class:"form-control" %>
          <%= f.label :title %>
		  <%= f.text_field :title, class:"form-control" %>
		  <%= f.label :showtime %>
		  <%= f.text_field :showtime, class:"form-control"%>
		</ul>
		  <br>
		  <%= f.submit "Update Movie", class:"btn btn-primary" %>
		  <% end %>
    </div>
</div>