<div class="main actor-index">
      <div class="container">
        <div class="row">
      <div> 
        <h1>Featured Movies</h1>
      </div>
      <br>
      <!--link to add movie page -->
      <h2><%= link_to 'Add Movie', add_movie_path(@movie) %></h2>
      <br>
          <!--
          To do: Loop through movies and display each one with this HTML-->
          <div>
          <% @movies.each do |movie| %>
          <div class="actor col-xs-2">
             <%= image_tag movie.image %>
            <h3>  <%= movie.title %> </h3>
            <p> Showtime: <%= movie.showtime %> </p>
            <p><%= link_to "Learn more", movie_path(movie) %></p>
<!--edit and delete movie -->
            <p><%= link_to 'Edit Movie', edit_movie_path(movie) %></p>
            <p><%= link_to 'Delete Movie', movie, method: :delete, data: {confirm: "You sure?"} %></p> 
<!--end of edit movie -->
            <p><%= link_to "Buy Ticket", 'orders/new' %></p>
          </div>
          <% end %>
          
          </div>
      </div>
</div>
