
<div class="add-movie">
  <h2>Add Movies</h2>
  <br>
  
		<%= form_for(@movie) do |f| %>
		<%= render 'shared/movie_error_messages' %>
		<br>
		<ul>
          <%= f.label :title %>
		  <%= f.text_field :title %>
		  <%= f.label :showtime %>
		  <%= f.text_field :showtime %>
		</ul>
		  <br>
		  <%= f.submit "Add Movie", class:"btn btn-primary" %>
		  <% end %>
	
</div>