<br>
<div class="container">
      <div>
        <h2>Buy Ticket</h2>
        <br>
        <!-- order form  -->
        <%= form_for(@order) do |f| %>
         <%= f.text_field :first_name, :placeholder => "First name" %>
          <%= f.text_field :last_name, :placeholder => "Last name" %>
           <%= f.text_field :email, :placeholder => "Email" %>
          <%= f.text_field :credit_card, :placeholder => "Credit card number" %>
           <%= f.text_field :expiration, :placeholder => "expiration date" %>
          <%= f.submit "Buy", :class => "btn" %> 
        <% end %> 

      </div>
</div>