<div class="container">
	<div class="col-md-6>">
	 <h2>Edit Theater </h2>
	 <%= form_for(@theater) do |f| %>
		<%= render 'shared/theater_error_messages' %>
		<br>
		<ul>
		  <%= f.label :image %>
		  <%= f.file_field :image, class:"form-control" %>
          <%= f.label :name %>
		  <%= f.text_field :name, class:"form-control" %>
		  <%= f.label :seats %>
		  <%= f.text_field :seats, class:"form-control"%>
		</ul>
		  <br>
		  <%= f.submit "Update Theater", class:"btn btn-primary" %>
		  <% end %>
    </div>
</div>