<div class="hero">
  <div class="container">
    <h2>Black Theater</h2>
    <p>Our special effects theaters offer you the best movie experiences. </p>
    <a href="#">Read More</a>
  </div>
</div>

<div class="main container">
  <div>
    <h2><%= link_to 'Add Theater', add_theater_path(@theater) %></h2>
    
      <h2>Now Playing: <button class="btn btn-default"><%= link_to "Featured Movies", movies_path %></button></h2>
    
  </div>
  <br>
  
  <br>
  
    <!--
    To do: Loop through movies and display each one with this HTML-->
  <div>
    <h3>Popular Theaters</h3>
  </div>
  <br>
    <% @theaters.each do |theater| %>
    <div class="movie">
      <div> <%= image_tag theater.image %></div>
      <h3> <%= theater.name %> </h3>
      <p> Seats: <%= theater.seats %></p>
      <%= link_to "Learn more", theater_path(theater) %> 

      <p><%= link_to 'Edit Theater', edit_theater_path(theater) %></p>
    <p><%= link_to 'Delete Theater', theater, method: :delete, data: {confirm: "You sure?"} %></p> 
    </div>
    
    <% end %>
   <br>
  </div>
</div>
