<div class="main movie-show">
  <div class="container">
    <div class="movie">
      
      <!-- Display the theater's info here -->
      <div class="info">
        <!-- theater image --> 
        <%= image_tag @theater.image %>
        <h3 class="movie-title">  <%= @theater.name %></h3>
        <p class="movie-release-year">Seats:<span> </span><%= @theater.seats %>  </p>
        
      </div>
    </div>

    <h2>Now Playing</h2>
    <!-- Display each movie's info here -->
    <% @movies.each do |movie| %>
    <div class="actor">
      <!-- movie image -->
      <%= image_tag movie.image %>
      <h3 class="actor-name">Movie: <%= movie.title %></h3>
      <p class="actor-bio">Showtime:<span> </span><%= movie.showtime %> </p>
    </div>
   <% end %>

   <!--display showtimes -->

   <div>
  <div class="container">
    <!--<h2><%= @theater.name %></h2>-->
    <p><%= image_tag @theater.image %>

    <div class="row">
      <% @showtimes.each do |showtime| %>
      <div class="card col-xs-4">
        
        <h2><%= showtime.month + "-" + showtime.date + "-" + showtime.hour + "-" + showtime.year %></h2>
        
        <%= link_to "Showtimes", showtime_path(showtime) %>
      </div>
      <% end %>
    </div>

  </div>
</div>


  </div>
</div>
